@mixin hover-supported {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin slide-in-animation($duration: 0.5s, $easing: cubic-bezier(0.16, 1, 0.3, 1)) {
  animation: slide-in $duration $easing;
  @keyframes slide-in {
    from {
      opacity: 0.5;
      transform: translateY(30dvh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin slide-out-animation($duration: 0.4s, $easing: ease-in-out) {
  animation: slide-out $duration $easing;
  @keyframes slide-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(100dvh);
    }
  }
}

@mixin fade-in-animation($duration: 0.5s, $easing: ease-in-out) {
  animation: fade-in $duration $easing;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin fade-out-animation($duration: 0.5s, $easing: ease-in-out) {
  animation: fade-out $duration $easing;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
