// ------------------------------------------------------
// ----------------------- FONTS ------------------------
// ------------------------------------------------------

$font-primary: 'Montserrat', sans-serif;

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-XL: 4rem;
$font-size-L: 2rem;
$font-size-M: 1.25rem;
$font-size-S: 1rem;
$font-size-text: 0.75rem;

// ------------------------------------------------------
// ---------------------- COLORS ------------------------
// ------------------------------------------------------

$color-fff: #fff;
$color-white: #f9f8f6;
$color-text: #2e3a35;
$color-text-secondary: #6e7c75;
$color-primary: #3f5e52;
$color-accent: #e07a3f;
$color-grey: #DDDDDD;
$color-success: #4f7a63;
$color-error: #b44e42;

// ------------------------------------------------------
// ---------------------- BORDER ------------------------
// ------------------------------------------------------

$border-radius-XL: 1.5rem;
$border-radius-L: 1.25rem;
$border-radius-M: 1rem;
$border-radius-S: 0.75rem;


