@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: inline-block;
  position: relative;
}

.datepicker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  .datepicker-input-wrapper {
    display: flex;
    gap: 0.75rem;

    > input {
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: $border-radius-S;
      background-color: $color-grey;
      line-height: normal;
      border: 2px solid transparent;
      transition: border 0.2s ease;

      @include hover-supported {
        border-color: $color-accent;
      }

      &:focus {
        outline: none;
        border-color: $color-accent;
      }
    }

    .calendar-open-btn,
    .clear-btn {
      border: 2px solid transparent;
      aspect-ratio: 1 / 1;
      height: 3rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: none;
      color: $color-text;
      background-color: $color-grey;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      box-shadow: $card-shadow;
      cursor: pointer;

      @include hover-supported {
        color: $color-accent;
      }

      &.open {
        background-color: $color-fff;
        color: $color-primary;
        border: 2px solid $color-primary;
      }
    }

    .clear-btn {
      @include hover-supported {
        background-color: $color-error;
        color: $color-fff;
      }
    }
  }
}

.close-dialog {
  position: fixed;
  right: 1rem;
  top: 8%;
  border-radius: 50%;
  border: 2px solid $color-error;
  background-color: $color-fff;
  color: $color-error;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 3rem;
  box-shadow: $card-shadow;
  cursor: pointer;
  transition: 0.2s background ease-in-out, color 0.2s ease-in-out;

  @include hover-supported {
    background-color: $color-error;
    color: $color-fff;
  }
}

.datepicker-dialog {
  position: fixed;
  z-index: 1000;
  top: 15%;
  left: 1rem;

  width: calc(100% - 2rem);
  padding: 0.75rem;

  background: #fff;
  border-radius: $border-radius-S;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15), -8px -8px 15px rgba(0, 0, 0, 0.15);


  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;

  .calendar-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    background-color: $color-primary;
    padding: 0.25rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    app-icon-arrow-left,
    app-icon-arrow-right {
      color: $color-white;
    }

    @include hover-supported {
      background-color: $color-accent;
    }
  }
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem 0;
  background-color: $color-fff;

  .weekdays-day {
    text-align: center;
    font-size: $font-size-text;
  }
}

.calendar-monthly {
  display: flex;
  flex-direction: column;

  .weeks {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .week {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: $font-size-text;
      color: $color-text;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex: 1;
  }

  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 3.5rem;
    align-items: center;
    border-radius: $border-radius-L;
    color: $color-text;
    border: 2px solid transparent;
    position: relative;
    aspect-ratio: 1 / 1;
    transition: background-color 0.2s ease-in-out;
    font-size: $font-size-text;
    font-weight: 500;

    &.weekday-0 {
      grid-column: 1 / span 1;
    }

    &.weekday-1 {
      grid-column: 2 / span 1;
    }

    &.weekday-2 {
      grid-column: 3 / span 1;
    }

    &.weekday-3 {
      grid-column: 4 / span 1;
    }

    &.weekday-4 {
      grid-column: 5 / span 1;
    }

    &.weekday-5 {
      grid-column: 6 / span 1;
    }

    &.weekday-6 {
      grid-column: 7 / span 1;
    }

    &.today {
      background-color: $color-accent;
      color: $color-white;

      h4 {
        color: $color-white;
      }
    }

    &.selected {
      border-color: $color-primary;
      // background-color: $color-primary;
      // color: $color-fff;
    }

    @include hover-supported {
      background-color: $color-primary;
      border-color: transparent;
      color: $color-white;
      cursor: pointer;
    }

    .calendar-tasks {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .task-dot {
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: $color-accent;
      }
    }
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}
