@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

:host {
  display: inline-block;
  position: relative;
}

.datepicker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  .datepicker-input-wrapper {

    display: flex;
    gap: 0.75rem;

    > input {
      width: 100%;
      padding: 0.5rem 0.75rem;
      border-radius: $border-radius-S;
      background-color: $color-grey;
      line-height: normal;
      border: 2px solid transparent;
      transition: border 0.2s ease;

      &:focus {
        outline: none;
        border-color: $color-accent;
      }
    }

    .calendar-open-btn {
      border: none;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: none;
      color: $color-text;
      background-color: $color-grey;
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      app-icon-calendar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include hover-supported {
        color: $color-accent;
      }
    }
  }
}

.datepicker-dialog {
  position: absolute;
  z-index: 1000;
  bottom: calc(100% + 0.5rem);
  left: 0;

  width: 100%;
  padding: 0.75rem;

  background: #fff;
  border-radius: $border-radius-S;
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.12),
    0 2px 6px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;

  .calendar-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    background-color: $color-primary;
    padding: 0.25rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    app-icon-arrow-left,
    app-icon-arrow-right {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
    }

    @include hover-supported {
      background-color: $color-accent;
    }
  }
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem 0;
  background-color: $color-fff;

  .weekdays-day {
    text-align: center;
  }
}

.calendar-monthly {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .weeks {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
  }

  .week {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: $font-size-text;
      color: $color-text;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex: 1;
  }

  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 3rem;
    align-items: center;
    border-radius: $border-radius-L;
    color: $color-text;
    border: 2px solid transparent;
    position: relative;
    aspect-ratio: 1 / 1;
    transition: background-color 0.2s ease-in-out;
    font-size: $font-size-S;
    font-weight: 500;

    &.weekday-0 {
      grid-column: 1 / span 1;
    }

    &.weekday-1 {
      grid-column: 2 / span 1;
    }

    &.weekday-2 {
      grid-column: 3 / span 1;
    }

    &.weekday-3 {
      grid-column: 4 / span 1;
    }

    &.weekday-4 {
      grid-column: 5 / span 1;
    }

    &.weekday-5 {
      grid-column: 6 / span 1;
    }

    &.weekday-6 {
      grid-column: 7 / span 1;
    }

    &.today {
      border-color: $color-primary;

      h4 {
        color: $color-white;
      }
    }

    &.selected {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $color-fff;
    }

    @include hover-supported {
      background-color: $color-accent;
      border-color: transparent;
      color: $color-white;
      cursor: pointer;
    }

    .calendar-tasks {
      position: absolute;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .task-dot {
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: $color-accent;
      }
    }
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}
