<section class="app-layout">
  <h1>Levo</h1>
  <nav class="main-nav">
    <menu class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span class="material-symbols-outlined">
            home
          </span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/calendar" routerLinkActive="active">
          <span class="material-symbols-outlined">
            calendar_today
          </span>
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <button>
          <span class="material-symbols-outlined">
            add
          </span>
        </button>
      </li>
      <li>
        <a routerLink="/boards" routerLinkActive="active">
          <span class="material-symbols-outlined">
            note_stack
          </span>
          <span>Boards</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <span class="material-symbols-outlined">
            person
          </span>
          <span>Profile</span>
        </a>
      </li>
    </menu>
  </nav>
  <main class="content">
    @if (initError()) {
    <div class="error-banner">{{ initError() }}</div>
    }
    <router-outlet />
  </main>
</section>
