@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.app-layout {
  position: relative;
  min-height: 0;
  height: 100dvh;

  h1 {
    height: 3rem;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  width: 100%;
  position: absolute;
  // bottom: 2rem;
  bottom: 0;
  z-index: 10;

  .nav-links {
    list-style: none;
    background-color: $color-white;
    padding: 0.5rem 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li {
      // Remove for desktop ?
      margin-bottom: 1rem;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-text;
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        transition: color 0.2s ease;
        font-size: $font-size-text;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        fill: transparent;
        transition: all 0.2s ease-in-out;

        @include hover-supported {
          color: $color-accent;
        }

        &.active {
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
          fill: $color-primary;
        }
      }

      .add-new-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 55rem;
        border: none;
        background-color: $color-accent;
        height: 4rem;
        aspect-ratio: 1 / 1;
        color: $color-white;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        app-icon-add {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @include hover-supported {
          background-color: $color-primary;
        }
      }
    }
  }
}

main.content {
  min-height: 0;
  padding: 0 1rem;
  height: calc(100dvh - 3rem);
}

@media screen and (min-width: 1300px) {
  main.content {
    padding: 2rem 20rem;
  }

  .main-nav {
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      li {
        margin: 0;
        a {
          border-radius: 100%;
          height: 5rem;
          width: 5rem;
          background-color: $color-grey;
          border: none;

          &.active {
            background-color: $color-primary;
            color: $color-white;
            border: none;
            margin: 2rem 0;
          }
        }
        .add-new-btn {
          height: 5rem;
        }
      }

    }
  }
}
