@use '../../styles/variables.scss' as *;

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
}

.main-nav {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  z-index: 2;

  .logo {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .nav-links {
    list-style: none;
    background-color: $color-primary;
    padding: 0.75rem 1.5rem;
    border-radius: 55rem;
    margin: 0;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    li {
      margin-bottom: 0.5rem;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-white;
        text-decoration: none;
        height: 4rem;
        width: 5rem;
        transition: color 0.2s ease;
        font-size: $font-size-text;

        &:hover {
          color: $color-accent;
        }

        &.active {
          color: $color-fff;
          border-bottom: 2px solid $color-fff;
        }
      }

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 55rem;
        border: none;
        background-color: $color-accent;
        height: 4rem;
        aspect-ratio: 1 / 1;

        span {
          font-size: 3rem;
          color: $color-white;
        }
      }
    }
  }
}
