@use '../../styles/variables.scss' as *;

.app-layout {
  position: relative;
  min-height: 0;
  height: 100dvh;

  h1 {
    height: 3rem;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
}

.main-nav {
  width: 100%;
  position: absolute;
  // bottom: 2rem;
  bottom: 0;
  z-index: 10;

  .nav-links {
    list-style: none;
    background-color: $color-white;
    // padding: 0.75rem 1.5rem;
    padding: 0.5rem 0;
    // border-radius: 55rem;
    margin: 0;

    // position: absolute;
    // left: 50%;
    // bottom: 0;
    // transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li {
      // Remove for desktop ?
      margin-bottom: 1rem;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-text;
        text-decoration: none;
        height: 4rem;
        width: 5rem;
        transition: color 0.2s ease;
        font-size: $font-size-text;

        &:hover {
          color: $color-accent;
        }

        &.active {
          color: $color-fff;
          border-bottom: 2px solid $color-fff;
        }
      }

      .add-new-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 55rem;
        border: none;
        background-color: $color-accent;
        height: 4rem;
        aspect-ratio: 1 / 1;
        color: $color-white;

        app-icon-add {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

main.content {
  min-height: 0;
  padding: 0 1rem;
  height: calc(100dvh - 3rem);
}

@media screen and (min-width: 1300px) {
  main.content {
    padding: 2rem 20rem;
  }
}
