@use 'variables' as *;
@use 'mixins' as *;

.app-layout {
  position: fixed;
  inset: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    height: 3rem;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
}

.error-banner {
  background-color: $color-error;
  border-radius: $border-radius-M;
  color: $color-white;
  padding: 0.25rem 0.75rem;
  text-align: center;
  margin: 0.5rem 1rem;
}

.main-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .nav-links {
    list-style: none;
    background-color: $color-white;
    padding: 0.5rem 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-bottom: 1rem;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-text;
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        transition: color 0.2s ease;
        font-size: $font-size-text;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        fill: transparent;
        transition: all 0.2s ease-in-out;

        @include hover-supported {
          color: $color-accent;
        }

        &.active {
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
          fill: $color-primary;
        }
      }

      .add-new-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 55rem;
        border: none;
        background-color: $color-accent;
        height: 3.25rem;
        aspect-ratio: 1 / 1;
        color: $color-white;
        transition:
          background-color 0.2s ease-in-out,
          transform 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

        &.open {
          transform: rotate(45deg);
          background-color: $color-error;
        }

        app-icon-add {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @include hover-supported {
          background-color: $color-primary;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}

main.content {
  padding: 0 0 6rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1300px) {
  main.content {
    padding: 2rem 0;
    width: 100%;
    padding-inline: clamp(5rem, 10vw, 20rem);
    max-width: 120rem;
    margin-inline: auto;
    overflow: hidden;
  }

  .main-nav {
    right: 0;
    left: auto;
    bottom: 50%;
    transform: translateY(50%);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .nav-links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      li {
        margin: 0;
        a {
          border-radius: 100%;
          height: 5rem;
          width: 5rem;
          background-color: $color-grey;
          border: none;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

          @include hover-supported {
            background-color: $color-white;
          }

          &.active {
            background-color: $color-primary;
            color: $color-white;
            fill: $color-white;
            border: none;
            margin: 2rem 0;
          }
        }
        .add-new-btn {
          height: 5rem;
        }
      }
    }
  }
}
