<section class="app-layout">
  <nav class="main-nav">
    <menu class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <app-icon-home />
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/calendar" routerLinkActive="active">
          <app-icon-calendar />
          <span>Calendar</span>
        </a>
      </li>
      <li>
        <button class="add-new-btn">
          <app-icon-add />
        </button>
      </li>
      <li>
        <a routerLink="/boards" routerLinkActive="active">
          <app-icon-board />
          <span>Boards</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <app-icon-profile />
          <span>Profile</span>
        </a>
      </li>
    </menu>
  </nav>
  <main class="content">
    @if (initError()) {
    <div class="error-banner">{{ initError() }}</div>
    }
    <router-outlet />
  </main>
</section>
