<div class="loading-overlay" [class.visible]="loading()">
  <app-loader />
</div>

<section class="calendar" role="region">
  <nav class="calendar-navigation">
    <button class="calendar-nav-btn back" (click)="goToPrevious()" aria-label="Go to previous month">
      <app-icon-arrow-left />
    </button>

    <h2>{{ currentMonth() }}, {{ currentYear() }}</h2>

    <button class="calendar-nav-btn forward" (click)="goToNext()" aria-label="Go to next month">
      <app-icon-arrow-right />
    </button>
  </nav>

  <div class="calendar-weekdays">
    @for (dayLabel of weekDayNames; track $index) {
    <div class="weekdays-day">{{ dayLabel }}</div>
    }
  </div>

  <div class="calendar-scroll" #scrollContainer (scroll)="onScroll()" role="grid">
    @for (month of monthsToRender(); track month.id) {
      <section class="calendar-monthly" [attr.data-month]="month.id">
        <h2>{{ month.name }}</h2>

        <div class="weeks">
          @for (week of month.weeks; track $index) {
            <section class="week" role="row">
              <h3>w. {{ week.weekNumber }}</h3>

              <div class="week-days calendar-grid" role="row">
                @for (day of week.days; track $index) {
                  <a
                    [routerLink]="[]"
                    [queryParams]="{ day: formatDate(day.date) }"
                    queryParamsHandling="merge"
                    (click)="selectDay(day.date)"
                    class="calendar-day"
                    role="gridcell"
                    [attr.tabindex]="getDayTabIndex(day)"
                    [attr.aria-label]="`${day.dayNumber} ${month.name}, ${month.year}`"
                    [attr.aria-current]="day.isToday ? 'date' : null"
                    [attr.data-date]="formatDate(day.date)"
                    [class.today]="day.isToday"
                    [class.selected]="calendarView.selectedDay()?.toDateString() === day.date.toDateString()"
                    [class]="'weekday-' + day.weekdayIndex"
                  >
                    @if (day.isToday) {
                      <h4 class="calendar-day-number today" #todayAnchor data-today>{{ day.dayNumber }}</h4>
                    }
                    @else {
                      <h4 class="calendar-day-number">{{ day.dayNumber }}</h4>
                    }

                    @let events = eventsForDate(day.date);
                    @if (events.length > 0) {
                      <div class="calendar-events">
                        @for (event of events; track event.id) {
                          <span class="event-dot"></span>
                        }
                      </div>
                    }
                  </a>
                }
              </div>
            </section>
          }
        </div>
      </section>
    }
  </div>

  <button class="go-to-today-btn" [class.visible]="!isTodayVisible()" (click)="scrollToToday()" role="button">Go to today</button>
</section>
