@use '../../../styles/variables.scss' as *;

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    z-index: 0;
  }
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .go-to-today-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-accent;
    border: none;
    border-radius: $border-radius-S;
    padding: 0.25rem 1rem;
    color: $color-white;
    cursor: pointer;
    z-index: 99;

    &:hover {
      background-color: $color-primary;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  width: 100%;

  .calendar-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    background-color: $color-primary;
    padding: 0.5rem;

    span {
      text-align: center;
      color: $color-white;
      font-size: $font-size-L;
    }
  }
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem 0;
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: $color-white;
  z-index: 3;

  .weekdays-day {
    text-align: center;
  }
}

.calendar-monthly {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;

  h2 {
    text-align: center;
    width: 100%;
    background-color: $color-white;
    height: 4rem;
  }

  .weeks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .week {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-grey;
    padding-bottom: 1rem;

    h3 {
      font-size: $font-size-S;
      color: $color-text-secondary;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex: 1;
  }

  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    // border: 1px solid $color-primary;
    border-radius: $border-radius-L;
    color: $color-text;
    position: relative;
    transition: background-color 0.2 ease-in-out;
    aspect-ratio: 1 / 1;

    &.weekday-0 {
      grid-column: 1 / span 1;
    }

    &.weekday-1 {
      grid-column: 2 / span 1;
    }

    &.weekday-2 {
      grid-column: 3 / span 1;
    }

    &.weekday-3 {
      grid-column: 4 / span 1;
    }

    &.weekday-4 {
      grid-column: 5 / span 1;
    }

    &.weekday-5 {
      grid-column: 6 / span 1;
    }

    &.weekday-6 {
      grid-column: 7 / span 1;
    }

    &.today {
      // background-color: $color-accent;

      .calendar-day-number {
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        background-color: $color-accent;
        border-radius: 100%;
      }

      &:hover {
        background-color: $color-accent;
      }
    }

    .calendar-day-number {
      font-size: $font-size-M;
    }

    &:hover {
      background-color: $color-grey;
      cursor: pointer;
    }

    .calendar-tasks {
      position: absolute;
      left: 50%;
      bottom: 35%;
      transform: translateX(-50%);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .task-dot {
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: $color-accent;
      }
    }
  }
}

.calendar-scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}
