@use '../../../styles/variables.scss' as *;

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    z-index: 0;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .calendar-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    background-color: $color-primary;
    padding: 0.5rem;

    span {
      text-align: center;
      color: $color-white;
      font-size: $font-size-L;
    }
  }
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem 0;

  .weekdays-day {
    text-align: center;
  }
}

.calendar-monthly {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h2 {
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $color-white;
    height: 3rem;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    flex: 1;
  }

  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    // border: 1px solid $color-primary;
    border-radius: $border-radius-L;
    color: $color-text;
    position: relative;
    transition: background-color 0.2 ease-in-out;

    &.today {
      // background-color: $color-accent;

      .calendar-day-number {
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        background-color: $color-accent;
        border-radius: 100%;
      }

      &:hover {
        background-color: $color-accent;
      }
    }

    .calendar-day-number {
      font-size: $font-size-M;
    }

    &:hover {
      background-color: $color-grey;
      cursor: pointer;
    }

    .calendar-tasks {
      position: absolute;
      left: 50%;
      bottom: 35%;
      transform: translateX(-50%);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .task-dot {
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
        background-color: $color-accent;
      }
    }
  }
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .go-to-today-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-accent;
    border: none;
    border-radius: $border-radius-S;
    padding: 0.25rem 1rem;
    color: $color-white;
    cursor: pointer;
    z-index: 99;

    &:hover {
      background-color: $color-primary;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.calendar-scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.month {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .week {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-grey;

    h3 {
      font-size: 0.75rem;
    }

    .week-days {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .day-card {
        padding-left: 1rem;
        border-left: 1px solid $color-primary;
      }

      .day {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
      }

      .today {
        color: $color-accent;
        // margin: 1rem 0;
      }

      .date {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

