<div class="loading-overlay" [class.visible]="loading()">
  <app-loader />
</div>

<section class="calendar">
  <button class="go-to-today-btn" [class.visible]="!isTodayVisible()" (click)="scrollToToday()" role="button">Go to today</button>

  <nav class="calendar-navigation">
    <button class="calendar-nav-btn back" (click)="goToPrevious()" aria-label="Go to previous month">
      <app-icon-arrow-left />
    </button>

    <h2>{{ currentMonth() }}, {{ currentYear() }}</h2>

    <button class="calendar-nav-btn forward" (click)="goToNext()" aria-label="Go to next month">
      <app-icon-arrow-right />
    </button>
  </nav>

  <div class="calendar-weekdays">
    @for (dayLabel of weekDayNames; track $index) {
    <div class="weekdays-day">{{ dayLabel }}</div>
    }
  </div>

  <div class="calendar-scroll" #scrollContainer (scroll)="onScroll()">
    @for (month of monthsToRender(); track month.id) {
      <section class="calendar-monthly" [attr.data-month]="month.id">
        <h2>{{ month.name }}</h2>

        <div class="weeks">
          @for (week of month.weeks; track $index) {
            <section class="week">
              <h3>w. {{ week.weekNumber }}</h3>
              <div class="week-days calendar-grid">
                @for (day of week.days; track $index) {
                  <article class="calendar-day" [class.today]="day.isToday" [class]="'weekday-' + day.weekdayIndex">
                    @if (day.isToday) {
                      <h4 class="calendar-day-number today" #todayAnchor data-today>{{ day.dayNumber }}</h4>
                    }
                    @else {
                      <h4 class="calendar-day-number">{{ day.dayNumber }}</h4>
                    }

                    @let events = eventsForDate(day.date);
                    @if (events.length > 0) {
                      <div class="calendar-events">
                        @for (event of events; track event.id) {
                          <span class="event-dot"></span>
                        }
                      </div>
                    }
                  </article>
                }
              </div>
            </section>
          }
        </div>
      </section>
    }
  </div>

</section>
