@use 'variables' as *;
@use 'mixins' as *;

:host {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font: $font-size-S;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  app-icon-add {
    transform: rotate(45deg);
  }

  @include hover-supported {
    color: $color-error;
  }
}
