@use 'variables' as *;
@use 'mixins' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: $font-size-S;
      font-weight: 600;
    }

    .sign-up-input {
      border: none;
      border-radius: $border-radius-S;
      padding: 0.5rem 0.75rem;
      background-color: $color-grey;
      line-height: normal;
      transition: outline 0.2s ease-in-out;

      &:focus {
        outline: 2px solid $color-primary;
      }

      &.error {
        outline: 2px solid $color-error;
      }
    }

    .feedback-invalid {
      font-size: $font-size-S;
      font-weight: 600;
      color: $color-error;
    }
  }

  .password {
    flex-direction: row;
    flex-wrap: wrap;

    label {
      flex-basis: 100%;
    }

    .password-input {
      flex: 1;
    }

    .toggle-password-btn {
      aspect-ratio: 1 / 1;
      height: 2.25rem;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      background-color: $color-primary;
      color: $color-white;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      @include hover-supported {
        background-color: $color-accent;
      }
    }

    .feedback-invalid {
      flex-basis: 100%;
    }

    .password-rules {
      flex-basis: 100%;
    }
  }

  .submit-btn {
    border: none;
    border-radius: $border-radius-XL;
    color: $color-white;
    font-size: $font-size-S;
    font-weight: 600;
    background-color: $color-success;
    padding: 0.5rem;
    transition:
      background 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    cursor: pointer;

    @include hover-supported {
      background-color: $color-accent;
    }

    &:disabled {
      background-color: $color-success;
      opacity: 50%;
      cursor: auto;
    }

    &.success {
      background-color: $color-success;
    }
  }

  .submit-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: $font-size-S;
      font-weight: bold;
    }

    &.success {
      color: $color-success;
    }

    &.error {
      color: $color-error;
    }
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .password-rules {
    padding-left: 1rem;
    margin: 0;
    font-size: 0.85rem;

    li {
      color: $color-error;
      &.valid {
        color: $color-success;
        text-decoration: line-through;
      }
    }
  }
}
