@use '../../../styles/variables.scss' as *;

.loading-overlay {
  width: 100%;
  height: 90%;
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    z-index: 0;
  }
}

.weekly-calendar {
  min-height: 0;
  max-height: 100%;
  // height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;

  .go-to-today-btn {
    position: absolute;
    // bottom: -5rem;
    // left: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    transition: transform 260ms cubic-bezier(.2,.8,.2,1), background-color 160ms ease;
    bottom: 0;
    z-index: 1;
    background-color: $color-accent;
    border: none;
    border-radius: $border-radius-S;
    padding: 0.5rem 1rem;
    color: $color-white;
    cursor: pointer;

    &.visible {
      transform: translateX(-50%) translateY(-7rem);
    }

    &:hover {
      background-color: $color-primary;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.calendar-scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 1rem;
}

.month {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $color-white;
    height: 3rem;
  }

  .week {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-grey;

    h3 {
      font-size: $font-size-text;
    }

    .week-days {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .day-card {
        padding-left: 1rem;
        border-left: 1px solid $color-primary;
      }

      .day {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
      }

      .today {
        color: $color-accent;
        // margin: 1rem 0;
      }

      .date {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
