<div class="loading-overlay" [class.visible]="loading()">
  <app-loader />
</div>

<section class="weekly-calendar">

  <h2>{{ `${currentMonth()} ${currentYear()}` }}</h2>
  <button (click)="scrollToToday()">Today</button>

  <div class="calendar-scroll" #scrollContainer (scroll)="onScroll()">
    @for (month of monthsToRender(); track month.id) {
    <section class="month">
      <h2>{{ month.name }}</h2>

      @for (week of month.weeks; track week.weekNumber) {
      <article class="week">
        <h3>w. {{ week.weekNumber }}</h3>

        <div class="week-days">
          @for (day of week.days; track day.date) {
          @if (day.isToday) {
          <div #todayAnchor class="day today" data-today>
            <p>{{ day.dayNumber }}</p>
            <p>{{ day.inMonth }}</p>
          </div>
          } @else {
          <div class="day">
            <p>{{ day.dayNumber }}</p>
            <p>{{ day.inMonth }}</p>
          </div>
          }
          @let tasks = tasksForDate(day.date);
          @for (task of tasks; track task.id) {
          <p>{{ task.title }}</p>
          }
          }
        </div>
      </article>
      }
    </section>
    }
  </div>

</section>
