<div class="loading-overlay" [class.visible]="loading()">
  <app-loader />
</div>

<section class="weekly-calendar">
  <!-- <h2>{{ `${currentMonth()} ${currentYear()}` }}</h2> -->
  <button class="go-to-today-btn" [class.visible]="!isTodayVisible()" (click)="scrollToToday()" role="button">Go to today</button>

  <div class="calendar-scroll" #scrollContainer (scroll)="onScroll()">
    @for (month of monthsToRender(); track month.id) {
    <section class="month">
      <h2>{{ month.name }}</h2>

      @for (week of month.weeks; track week.weekNumber) {
      <article class="week">
        <h3>w. {{ week.weekNumber }}</h3>

        <div class="week-days">
          @for (day of week.days; track day.date) {
            <a
              [routerLink]="[]"
              [queryParams]="{ day: formatDate(day.date)}"
              queryParamsHandling="merge"
              (click)="selectDay(day.date)"
              class="day-card"
              [class.today]="day.isToday"
              [class.selected]="calendarView.selectedDay()?.toDateString() === day.date.toDateString()"
            >
              @if (day.isToday) {
                <h4 #todayAnchor class="day today" data-today>
                  <span>{{ day.weekdayLabel }}</span>
                  <span class="date">{{ `${day.dayNumber} ${day.inMonth}.` }}</span>
                </h4>
              } @else {
                <h4 class="day">
                  <span>{{ day.weekdayLabel }}</span>
                  <span class="date">{{ `${day.dayNumber} ${day.inMonth}.` }}</span>
                </h4>
              }
              @let events = eventsForDate(day.date);
              @if (events.length > 0) {
                <ul class="events-list">
                  @for (event of events; track event.id) {
                    @let eventCalendar = getCalendar(event.calendar_id);
                    <li class="event">
                      <article class="event-card">
                        @if (eventCalendar?.is_shared) {
                          <app-icon-shared aria-label="Shared calendar" />
                        }
                        <h5>{{ event.title }}</h5>

                        @if (event.scheduled_at) {
                          <time class="scheduled-at">{{ formatTime(event.scheduled_at) }}</time>
                        }
                      </article>
                    </li>
                  }
                </ul>
              }
            </a>
          }
        </div>
      </article>
      }
    </section>
    }
  </div>

</section>
