@use '../../../styles/variables.scss' as *;

.loading-overlay {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-white;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.weekly-calendar {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.calendar-scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}
