<div class="loading-overlay" [class.visible]="loading()">
  <app-loader />
</div>

<section class="weekly-calendar">
  <!-- <h2>{{ `${currentMonth()} ${currentYear()}` }}</h2> -->
  <button class="go-to-today-btn" [class.visible]="!isTodayVisible()" (click)="scrollToToday()" role="button">Go to today</button>

  <div class="calendar-scroll" #scrollContainer (scroll)="onScroll()">
    @for (month of monthsToRender(); track month.id) {
    <section class="month">
      <h2>{{ month.name }}</h2>

      @for (week of month.weeks; track week.weekNumber) {
      <article class="week">
        <h3>w. {{ week.weekNumber }}</h3>

        <div class="week-days">
          @for (day of week.days; track day.date) {
            <article class="day-card">
              @if (day.isToday) {
                <h4 #todayAnchor class="day today" data-today>
                  <span>{{ day.weekdayLabel }}</span>
                  <span class="date">{{ `${day.dayNumber} ${day.inMonth}.` }}</span>
                </h4>
              } @else {
                <h4 class="day">
                  <span>{{ day.weekdayLabel }}</span>
                  <span class="date">{{ `${day.dayNumber} ${day.inMonth}.` }}</span>
                </h4>
              }
              @let events = eventsForDate(day.date);
              @for (event of events; track event.id) {
                <p>{{ event.title }}</p>
              }
            </article>
          }
        </div>
      </article>
      }
    </section>
    }
  </div>

</section>
