@use 'variables' as *;
@use 'mixins' as *;

.loading-overlay {
  width: 100%;
  height: 90%;
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  background-color: $color-white;
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    z-index: 0;
  }
}

.weekly-calendar {
  min-height: 0;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .go-to-today-btn {
    position: absolute;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(3rem);
    transition:
      transform 260ms cubic-bezier(0.2, 0.8, 0.2, 1),
      opacity 360ms ease;
    z-index: 3;
    background-color: $color-accent;
    border: none;
    border-radius: $border-radius-XL;
    padding: 0.5rem 1rem;
    color: $color-white;
    opacity: 0;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

    &.visible {
      transform: translateX(-50%) translateY(-1rem);
      opacity: 1;
    }

    @include hover-supported {
      background-color: $color-primary;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.calendar-scroll {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.month {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $color-white;
    color: $color-primary;
    height: 3rem;
    font-size: $font-size-M;
    z-index: 2;
  }

  .week {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-grey;

    h3 {
      font-size: $font-size-text;
    }

    .week-days {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .day-card {
        padding: 0.5rem 0;
        padding-left: 1rem;
        border-left: 2px solid $color-primary;
        text-decoration: none;
        position: relative;
        transition: border 0.2s ease-in-out;

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: $border-radius-S;
          background: $color-grey;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          z-index: -1;
        }

        &.today {
          border-color: $color-accent;
        }

        @include hover-supported {
          border-color: transparent;

          &::after {
            opacity: 1;
          }
        }
      }

      .day {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
      }

      .today {
        color: $color-accent;
        // margin: 1rem 0;
      }

      .date {
        display: flex;
        gap: 0.5rem;
      }
    }

    .events-list {
      padding: 0;
      margin: 0.5rem 0 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .event {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .event-card {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      app-icon-shared {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: none;
        color: $color-accent;
      }

      h5 {
        font-size: $font-size-text;
        font-weight: 600;
        margin: 0;
        color: $color-primary;
      }

      .scheduled-at {
        font-size: $font-size-text;
        color: $color-text;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .month .week .week-days .day-card {
    padding-right: 1rem;

    &.selected {
      border-color: transparent;
      &::after {
        opacity: 1;
        background-color: transparent;
        border: 2px solid $color-text-secondary;
      }
    }
  }
}
