@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.calendar-page {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    line-height: normal;
    margin-bottom: 1rem;
  }
}

.content-container {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  display: flex;
  gap: 5rem;
}

app-weekly-calendar, app-monthly-calendar {
  flex: 1;
}

.desktop-aside {
  flex: 1;
  background-color: $color-grey;
  border-radius: $border-radius-XL;
}

nav {
  display: flex;
  justify-content: center;
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;

  .view-toggle {
    display: inline-flex;
    background: $color-grey;
    border-radius: 999px;
    padding: 4px;

    button {
      border: none;
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      cursor: pointer;
      color: $color-text;
      font-weight: 600;
      font-size: $font-size-text;
      transition: background 0.2s, color 0.2s;

      &.active {
        background: $color-fff;
        color: $color-primary;
      }

      @include hover-supported {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  nav {
    right: 52%;
  }
}
