@use 'variables' as *;
@use 'mixins' as *;

.calendar-page {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;

  h1 {
    line-height: normal;
    padding-bottom: 1.1rem;
    margin: 0;
  }
}

.content-container {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  display: flex;
  gap: 5rem;
}

app-weekly-calendar,
app-monthly-calendar {
  flex: 1;
}

.desktop-aside {
  flex: 1;
  border-radius: $border-radius-XL;
}

nav {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 1rem;
  right: 1rem;

  .view-toggle {
    display: inline-flex;
    background: $color-grey;
    border-radius: 999px;
    padding: 4px;

    button {
      border: none;
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      cursor: pointer;
      color: $color-text;
      font-weight: 600;
      font-size: $font-size-text;
      transition:
      background 0.2s,
      color 0.2s;

      &.active {
        box-shadow: $card-shadow;
        background: $color-fff;
        color: $color-primary;
      }

      @include hover-supported {
        box-shadow: $card-shadow;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}

.day-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-white;
}

.page-in {
  @include page-animation-in();
}

.page-out {
  @include page-animation-out();
}

@media screen and (min-width: 1300px) {
  nav {
    right: 52%;
  }
}
