@use '../../styles/variables.scss' as *;

.calendar-page {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-container {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  display: flex;
  gap: 5rem;
}

app-weekly-calendar, app-monthly-calendar {
  flex: 1;
}

.desktop-aside {
  flex: 1;
  background-color: red;
}

nav {
  display: flex;
  justify-content: center;
  z-index: 6;
  margin-bottom: 1rem;

  .view-toggle {
    display: inline-flex;
    background: $color-text;
    border-radius: 999px;
    padding: 4px;

    button {
      border: none;
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      cursor: pointer;
      color: $color-white;
      // font-weight: 600;
      font-size: $font-size-text;
      transition: background 0.2s, color 0.2s;

      &.active {
        background: $color-primary;
        color: $color-white;
      }
    }
  }
}
