<section class="calendar-page" >
  <h1>Calendar</h1>

  <nav>
    <div class="view-toggle">
      <button [class.active]="viewMode() === 'weekly'" (click)="setView('weekly')" aria-label="See weekly view">Week</button>
      <button [class.active]="viewMode() === 'monthly'" (click)="setView('monthly')" aria-label="See monthly view">Month</button>
    </div>
  </nav>

  <div class="content-container">
      @if (viewMode() === 'weekly') {
        <app-weekly-calendar [monthsToRender]="monthsToRender()" (nearTop)="prependMonth()" (nearBottom)="appendMonth()" />
      }
      @else {
        <app-monthly-calendar [monthsToRender]="monthsToRender()" (nearTop)="prependMonth()" (nearBottom)="appendMonth()" />
      }

      @if (isDesktop() === true) {
        <!-- Aside: Upcoming tasks -->
        <aside class="desktop-aside">
          <app-desktop-day-summary />
        </aside>
      }
  </div>

  @if (selectedDay() && !isDesktop()) {
    <div class="day-overlay">
      <app-day />
    </div>
  }
</section>
