@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

:host {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
}

.timepicker-trigger {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: $border-radius-S;
  border: 2px solid transparent;
  background: $color-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: $font-size-S;
  line-height: normal;

  transition: border 0.2s ease-in-out;

  @include hover-supported {
    border-color: $color-accent;
  }

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}

.value {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
}

.timepicker-dialog {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  right: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  width: 100%;

  padding: 1rem;
  background: $color-fff;
  border-radius: $border-radius-S;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  max-height: 12rem;
  overflow-y: auto;
  padding-inline: 0.5rem;

  h3 {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 600;
    color: #777;
    text-align: center;
    position: sticky;
    top: 0;
    background: #fff;
  }
}

.option {
  padding: 1rem;
  border-radius: 6px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.8rem;

  @include hover-supported {
    background: $color-accent;
  }

  &.selected {
    background: $color-primary;
    color: $color-fff;
  }

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}
