@use 'variables' as *;
@use 'mixins' as *;

.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  gap: 2rem;
  position: relative;

  h1 {
    margin: 0;
    font-size: $font-size-L;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      @include base-button;

      width: 100%;
      color: $color-text;

      @include hover-supported {
        background-color: $color-accent;
        color: $color-white;
      }
    }

    .delete-account {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        color: $color-error;
        font-size: $font-size-S;
        font-weight: 600;
      }

      .delete-btn {
        color: $color-error;

        @include hover-supported {
          background-color: $color-error;
          color: $color-white;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}

@media screen and (min-width: 1300px) {
  .profile {
    width: 30%;
    max-width: 32rem;
    height: 70%;
    margin: auto;
  }
}
