@use 'variables' as *;
@use 'mixins' as *;

.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
  gap: 2rem;
  position: relative;

  h1 {
    margin: 0;
    font-size: $font-size-L;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      border: none;
      padding: 0.5rem 1rem;
      width: 100%;
      border-radius: $border-radius-XL;
      font-size: $font-size-S;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;

      @include hover-supported {
        background-color: $color-accent;
        color: $color-white;
      }
    }

    .delete-account {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        color: $color-error;
        font-size: $font-size-S;
        font-weight: 600;
      }

      .delete-btn {
        color: $color-error;

        @include hover-supported {
          background-color: $color-error;
          color: $color-white;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
  }
}
