@if (currentBoard()) {

<section class="board-detail">
  <h1>{{ currentBoard()?.board?.title }}</h1>
  <nav class="board-nav">
    <button (click)="goBack()" class="back-btn">
      <app-icon-arrow-left />
      Go back
    </button>
    <!-- TODO: Implement breadcrumbs -->
  </nav>

  <section class="sub-boards">
    <h2>Sub-boards</h2>


    @if (openCreate()) {
    <div class="overlay" animate.enter="enter-animation" animate.leave="leave-animation">
      <div class="create-sub-board">
        <label for="new-sub-board">Title for your new sub-board</label>
        <input name="new-sub-board" [value]="newSubBoardTitle()"
          (input)="newSubBoardTitle.set($any($event.target).value)" placeholder="Title..."
          (keyup.enter)="createSubBoard()" />
        <button role="button" class="submit-btn" (click)="createSubBoard()"
          [disabled]="newSubBoardTitle().length === 0">Create
          new board
        </button>
        <button type="button" class="close" (click)="close()">
          <span>Cancel</span>
          <app-icon-add />
        </button>
      </div>
    </div>
    }

    <ul class="sub-boards-list">
      <li class="open-create-sub">
        <button class="open-btn" (click)="openCreateSub()" aria-label="Create new sub-board">
          Create new
        </button>
      </li>
      @for (sub of currentBoard()?.subBoards; track sub.id) {
      <li class="board">
        <a class="link" [routerLink]="['/boards', sub.id]">
          <h3>{{ sub.title }}</h3>
        </a>

      </li>
      }
    </ul>

    @if (!currentBoard()?.subBoards || currentBoard()?.subBoards?.length === 0) {
    <p>No sub-boards yet, you can create one quickly</p>
    }
  </section>

  <section class="editor-container">
    <h2>Notes</h2>
    <app-editor [savedContent]="currentBoard()?.boardItem?.content ?? null" [boardId]="boardId()" />
  </section>
  <div class="delete-board-container">
    <button role="button" class="delete-btn" (click)="deleteBoard(currentBoard()?.board?.id ?? '')">
      Delete this board
      <app-icon-delete />
    </button>
    <!-- TODO: Add confirmation here "Are you sure? => Yes / No" -->
  </div>

  @if (errorMessage()) {
  <span class="error-msg" animate.enter="enter-animation" animate.leave="leave-animation">
    <p>{{ errorMessage() }}</p>
  </span>
  }

  @if (successMessage()) {
  <span class="success-msg" animate.enter="enter-animation" animate.leave="leave-animation">
    <p>{{ successMessage() }}</p>
  </span>
  }
</section>

}

@if (loading()) {
<div>
  Loading board...
  <!-- TODO: insert loading component -->
</div>
}
