@use 'variables' as *;
@use 'mixins' as *;

app-icon-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: $border-radius-XL;
    background-color: transparent;
    color: $color-text;
    font-size: $font-size-text;
    font-weight: 500;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    app-icon-arrow-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include hover-supported {
      color: $color-accent;
    }
  }
}

.board-detail {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;

  h1 {
    margin: 0;
    font-size: $font-size-L;
  }

  h2 {
    font-size: $font-size-M;
  }

  .sub-boards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    .create-sub-board {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 2rem 1rem;
      border-radius: $border-radius-XL;
      overflow-y: auto;
      flex: 1;
      position: fixed;
      width: calc(100% - 2rem);
      z-index: 15;
      box-shadow:
        0 -10px 14px rgba($color-primary, $alpha: 0.3),
        0 10px 14px rgba($color-primary, $alpha: 0.3);

      label {
        font-size: $font-size-S;
        font-weight: 600;
        color: $color-primary;
      }

      input {
        border: 2px solid transparent;
        border-radius: $border-radius-S;
        padding: 0.5rem 0.75rem;
        background-color: $color-grey;
        line-height: normal;
        transition: border 0.2s ease-in-out;

        @include hover-supported {
          border-color: $color-accent;
        }

        &:focus {
          outline: 2px solid $color-accent;
          outline-offset: 2px;
        }
      }

      .submit-btn,
      .close {
        border: none;
        border-radius: $border-radius-XL;
        color: $color-white;
        font-size: $font-size-S;
        font-weight: 600;
        background-color: $color-success;
        padding: 0.5rem;
        margin-top: 1rem;
        transition:
          background 0.2s ease-in-out,
          opacity 0.2s ease-in-out;
        cursor: pointer;

        @include hover-supported {
          background-color: $color-accent;
        }

        &:disabled {
          background-color: $color-success;
          opacity: 50%;
          cursor: auto;
        }
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-error;
        cursor: pointer;

        @include hover-supported {
          background-color: $color-error;
          opacity: 70%;
        }
      }
    }

    .sub-boards-list {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0.25rem 0.25rem;
      overflow-x: auto;
    }

    .board,
    .open-create-sub {
      background-color: transparent;
      border-radius: $border-radius-M;
      min-width: 7rem;
      height: 3rem;

      .link {
        background-color: $color-grey;
        padding: 1rem;
        border-radius: $border-radius-M;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        transition: background 0.2s ease-in-out;

        h3 {
          font-size: $font-size-text;
          font-weight: 600;
          color: $color-text;
          line-height: normal;
          transition: color 0.2s ease-in-out;
        }

        @include hover-supported {
          background-color: $color-accent;

          h3 {
            color: $color-white;
          }
        }
      }
    }

    .open-create-sub button {
      border-radius: $border-radius-M;
    }

    .empty-msg {
      font-size: $font-size-text;
      font-weight: 500;
      color: $color-text;
      display: flex;
      align-items: center;
    }

    .open-create-sub {
      min-width: 5rem;
      max-width: 5rem;
      margin-right: 1rem;

      .open-btn {
        background-color: $color-primary;
        padding: 1rem;
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $font-size-text;
        font-weight: 600;
        color: $color-white;
        line-height: normal;
        transition:
          color 0.2s ease-in-out,
          background 0.2s ease-in-out;
        cursor: pointer;

        @include hover-supported {
          background-color: $color-accent;
          color: $color-white;
        }
      }
    }
  }

  .open-delete {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius-XL;
    background-color: $color-error;
    color: $color-white;
    line-height: normal;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: background 0.2s ease-in-out;

    @include hover-supported {
      background-color: $color-accent;
    }
  }

  .overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
  }

  .delete-overlay {
    width: calc(100% - 2rem);
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 1rem;
    border-radius: $border-radius-XL;
    overflow-y: auto;
    box-shadow:
      0 -10px 14px rgba($color-primary, $alpha: 0.3),
      0 10px 14px rgba($color-primary, $alpha: 0.3);

    h2 {
      text-align: center;
    }

    .delete-btn,
    .close {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: $border-radius-XL;
      font-size: $font-size-text;
      color: $color-text;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: $color-grey;
      cursor: pointer;
      transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;

      @include hover-supported {
        background-color: $color-accent;
        color: $color-white;
      }
    }

    .delete-btn {
      background-color: $color-error;
      color: $color-white;
    }
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;

    app-editor {
      min-height: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .success-msg,
  .error-msg {
    position: fixed;
    bottom: 7rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    p {
      background-color: $color-success;
      padding: 0.5rem 1rem;
      color: $color-white;
      font-size: $font-size-S;
      border-radius: $border-radius-XL;
    }
  }

  .error-msg {
    p {
      background-color: $color-error;
    }
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}

@media screen and (min-width: 1300px) {
  .board-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    overflow: hidden;
    height: auto;

    h1 {
      grid-column: 1 / span 2;
      font-size: $font-size-XL;
    }

    h2 {
      font-size: $font-size-L;
    }

    .board-nav {
      grid-column: 1 / span 1;

      .back-btn {
        font-size: $font-size-S;
      }
    }

    .sub-boards {
      grid-column: 1;
      grid-row: 3;
      height: 70vh;
      min-height: 0;

      .sub-boards-list {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1rem;
        overflow-y: auto;
      }

      .board, .open-create-sub {
        flex-basis: calc(50% - 0.5rem);
        height: 5rem;

        .link {

          h3 {
            font-size: $font-size-S;
          }
        }
      }

      .empty-msg {
        font-size: $font-size-S;
        flex-basis: 100%;
      }

      .open-create-sub {
        max-width: 100rem;
        margin: 0;

        .open-btn {
          font-size: $font-size-S;
        }
      }
    }

    .editor-container {
      grid-column: 2;
      grid-row: 3;
      height: 70vh;

      app-editor {
        height: 100%;
      }
    }

    .open-delete {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }

    .sub-boards {
      .create-sub-board {
        width: 30%;
        max-width: 32rem;
      }
    }

    .delete-overlay {
      width: 30%;
      max-width: 32rem;
    }
  }
}
