@use 'variables' as *;
@use 'mixins' as *;

app-icon-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: $border-radius-XL;
    background-color: transparent;
    color: $color-text;
    font-size: $font-size-text;
    font-weight: 500;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    app-icon-arrow-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include hover-supported {
      color: $color-accent;
    }
  }
}

.board-detail {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;

  h1 {
    margin: 0;
    font-size: $font-size-L;
  }

  h2 {
    font-size: $font-size-M;
  }

  .sub-boards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    .sub-boards-list {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0.5rem 0.5rem;
      overflow-x: auto;
    }

    .board,
    .open-create-sub {
      background-color: transparent;
      border-radius: $border-radius-M;
      min-width: 7rem;
      height: 3rem;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

      .link {
        background-color: $color-grey;
        padding: 1rem;
        border-radius: $border-radius-M;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        transition: background 0.2s ease-in-out;

        h3 {
          font-size: $font-size-text;
          font-weight: 600;
          color: $color-text;
          line-height: normal;
          transition: color 0.2s ease-in-out;
        }

        @include hover-supported {
          background-color: $color-accent;

          h3 {
            color: $color-white;
          }
        }
      }
    }

    .open-create-sub button {
      border-radius: $border-radius-M;
    }

    .empty-msg {
      font-size: $font-size-text;
      font-weight: 500;
      color: $color-text;
      display: flex;
      align-items: center;
    }

    .open-create-sub {
      min-width: 5rem;
      max-width: 5rem;
      margin-right: 1rem;

      .open-btn {
        background-color: $color-primary;
        padding: 1rem;
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $font-size-text;
        font-weight: 600;
        color: $color-white;
        line-height: normal;
        transition:
          color 0.2s ease-in-out,
          background 0.2s ease-in-out;
        cursor: pointer;

        @include hover-supported {
          background-color: $color-accent;
          color: $color-white;
        }
      }
    }
  }

  .open-delete {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius-XL;
    background-color: $color-error;
    color: $color-white;
    font-size: $font-size-S;
    font-weight: 500;
    line-height: normal;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: background 0.2s ease-in-out;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

    @include hover-supported {
      background-color: $color-accent;
    }
  }

  .overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
  }

  .create-container,
  .delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    width: calc(100% - 2rem);
    padding: 4rem 1rem 2rem;
    position: relative;
    border-radius: $border-radius-XL;
    box-shadow:
      0 -4px 15px rgba(0, 0, 0, 0.15),
      0 4px 15px rgba(0, 0, 0, 0.15);
    h2 {
      text-align: center;
    }
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;

    app-editor {
      min-height: 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}

.fade-in-animation {
  @include fade-in-animation();
}

.fade-out-animation {
  @include fade-out-animation();
}

@media screen and (min-width: 1300px) {
  .board-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    overflow: hidden;
    height: auto;

    h1 {
      grid-column: 1 / span 2;
      font-size: $font-size-L;
    }

    h2 {
      font-size: $font-size-M;
    }

    .board-nav {
      grid-column: 1 / span 1;

      .back-btn {
        font-size: $font-size-S;
      }
    }

    .sub-boards {
      grid-column: 1;
      grid-row: 3;
      height: 70vh;
      min-height: 0;

      .sub-boards-list {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1rem;
        overflow-y: auto;
      }

      .board,
      .open-create-sub {
        flex-basis: calc(50% - 0.5rem);
        height: 5rem;

        .link {
          h3 {
            font-size: $font-size-S;
          }
        }
      }

      .empty-msg {
        font-size: $font-size-S;
        flex-basis: 100%;
      }

      .open-create-sub {
        max-width: 100rem;
        margin: 0;

        .open-btn {
          font-size: $font-size-S;
        }
      }
    }

    .editor-container {
      grid-column: 2;
      grid-row: 3;
      height: 70vh;

      app-editor {
        height: 100%;
      }
    }

    .open-delete {
      position: absolute;
      top: 1.25rem;
      right: 1rem;
      margin: 0;
    }

    .delete-overlay {
      width: 30%;
      max-width: 32rem;
    }
  }
}
