@use 'variables' as *;
@use 'mixins' as *;

.board-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: $border-radius-XL;
    background-color: transparent;
    color: $color-text;
    font-size: $font-size-text;
    font-weight: 500;
    padding: 0.5rem 0;
    min-width: 0;
    flex-shrink: 1;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    @include hover-supported {
      color: $color-accent;
    }
  }

  .presence {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;

    .user {
      display: flex;
      flex-direction: column;
      min-height: 4rem;

      .profile-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: none;
        color: $color-accent;
        width: 3rem;
        height: 3rem;
        background-color: $color-fff;
        border-radius: 50%;
        border: 2px solid $color-primary;
      }

      .user-name {
        font-size: 0.75rem;
        font-weight: 500;
        color: $color-primary;
        line-height: normal;
      }
    }
  }
}

.board-detail {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;

  h1 {
    margin: 0;
    font-size: $font-size-L;
  }

  h2 {
    font-size: $font-size-M;
  }

  .sub-boards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    .sub-boards-list {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0.5rem;
      overflow-x: auto;
    }

    .board,
    .open-create-sub {
      background-color: transparent;
      border-radius: $border-radius-M;
      min-width: 7rem;
      height: 3rem;
      box-shadow: $card-shadow;

      .link {
        background-color: $color-grey;
        padding: 1rem;
        border-radius: $border-radius-M;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        transition: background 0.2s ease-in-out;

        h3 {
          font-size: $font-size-text;
          font-weight: 600;
          color: $color-text;
          line-height: normal;
          transition: color 0.2s ease-in-out;
        }

        @include hover-supported {
          background-color: $color-accent;

          h3 {
            color: $color-white;
          }
        }
      }
    }

    .open-create-sub button {
      border-radius: $border-radius-M;
    }

    .empty-msg {
      font-size: $font-size-text;
      font-weight: 500;
      color: $color-text;
      display: flex;
      align-items: center;
    }

    .open-create-sub {
      min-width: 5rem;
      max-width: 5rem;
      margin-right: 1rem;

      .open-btn {
        background-color: $color-primary;
        padding: 1rem;
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $font-size-text;
        font-weight: 600;
        color: $color-white;
        line-height: normal;
        transition:
          color 0.2s ease-in-out,
          background 0.2s ease-in-out;
        cursor: pointer;

        @include hover-supported {
          background-color: $color-accent;
          color: $color-white;
        }
      }
    }
  }

  .open-delete {
    @include base-button;

    margin: 2rem 0;
    background-color: $color-error;
    color: $color-white;
    z-index: 1;

    @include hover-supported {
      background-color: $color-accent;
    }
  }

  .overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
  }

  .create-container,
  .delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    width: calc(100% - 2rem);
    padding: 4rem 1rem 2rem;
    position: relative;
    border-radius: $border-radius-XL;
    box-shadow: $overlay-shadow;
    h2 {
      text-align: center;
    }
  }

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;

    app-editor {
      min-height: 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}

.fade-in-animation {
  @include fade-in-animation();
}

.fade-out-animation {
  @include fade-out-animation();
}

.presence-in {
  @include presence-in-animation();
}

.presence-out {
  @include presence-out-animation();
}

@media screen and (min-width: 1300px) {
  .board-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    overflow: hidden;
    height: auto;

    h1 {
      grid-column: 1 / span 2;
    }

    .board-nav {
      grid-column: 1 / span 1;

      .back-btn {
        font-size: $font-size-S;
      }
    }

    .sub-boards {
      grid-column: 1;
      grid-row: 3;
      height: 70vh;
      min-height: 0;

      .sub-boards-list {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1rem;
        overflow-y: auto;
      }

      .board,
      .open-create-sub {
        flex-basis: calc(50% - 0.5rem);
        height: 5rem;

        .link {
          h3 {
            font-size: $font-size-S;
          }
        }
      }

      .empty-msg {
        font-size: $font-size-S;
        flex-basis: 100%;
      }

      .open-create-sub {
        max-width: 100rem;
        margin: 0;

        .open-btn {
          font-size: $font-size-S;
        }
      }
    }

    .editor-container {
      grid-column: 2;
      grid-row: 3;
      height: 70vh;

      app-editor {
        height: 100%;
      }
    }

    .open-delete {
      position: absolute;
      top: 1.25rem;
      right: 1rem;
      margin: 0;
    }

    .delete-container, .create-container {
      width: 30%;
      max-width: 32rem;
    }
  }
}
