@if (currentBoard() && !loading()) {
@let subBoards = currentBoard()?.subBoards ?? [];

<section class="board-detail" animate.enter="fade-in-animation" animate.leave="fade-out-animation">
  <nav class="board-nav">
    <!-- TODO: Make this button a component, can be used elsewhere -->
    <button (click)="goBack(currentBoard()?.board?.parent_board_id ?? null)" class="back-btn"
      [aria-label]="`Go back to ${currentBoard()?.parentBoard?.title ?? 'all boards'}`">
      <app-icon-arrow-left />
      {{ currentBoard()?.parentBoard?.title ?? 'All boards'}}
    </button>

    @if (activeUsers().length > 0) {
      <div class="presence">
        @for (user of activeUsers(); track user.userId) {
          <span class="user" animate.enter="presence-in" animate.leave="presence-out">
            <!-- TODO: Add real pictures later, this is imaginary for now -->
            <span class="profile-picture">
              <app-icon-profile />
            </span>
            <p class="user-name">{{ user.userName }}</p>
          </span>
        }
      </div>
    }
  </nav>

  <h1>{{ currentBoard()?.board?.title }}</h1>

  <section class="sub-boards">
    <h2>Boards</h2>

    @if (openCreate()) {
      <div class="overlay" animate.enter="enter-animation" animate.leave="leave-animation">
        <div class="create-container">
          <app-close-btn (closeOverlay)="close()" />
          <app-new-sub-board (closeCreateNew)="close()" [boardId]="this.boardId()" />
        </div>
      </div>
    }

    <ul class="sub-boards-list">
      <li class="open-create-sub">
        <button class="open-btn" (click)="openCreateSub()" aria-label="Create new sub-board">
          Create new
        </button>
      </li>
      @if (subBoards.length >= 1 ) {
      @for (sub of subBoards; track sub.id) {
      <li class="board">
        <a class="link" [routerLink]="['/boards', sub.id]">
          <h3>{{ sub.title }}</h3>
        </a>

      </li>
      }
      } @else {
      <li class="empty-msg">
        <p>Create boards inside this board to organize related content.</p>
      </li>
      }
    </ul>
  </section>

  <section class="editor-container">
    <h2>Notes</h2>
    <app-editor [savedContent]="currentBoard()?.boardItem?.content ?? null" [boardId]="boardId()" />
  </section>

  <button type="button" class="open-delete" (click)="openDeleteDialog()">
    Delete this board
    <app-icon-delete />
  </button>

  @if(openDelete()) {
  <div class="overlay" animate.enter="enter-animation" animate.leave="leave-animation">
    <div class="delete-container">
      <app-close-btn (closeOverlay)="close()" />
      <app-delete-board [board]="currentBoard()" (deleted)="deleteBoard($event)" />
    </div>
  </div>
  }
</section>

}

@if (loading()) {
<div class="loader" animate.enter="fade-in-animation" animate.leave="fade-out-animation">
  <app-loader />
</div>
}
