@use 'variables' as *;
@use 'mixins' as *;

.boards-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1rem 1rem 2rem;

  h2 {
    font-size: $font-size-M;
  }

  .boards-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .board {
    list-style: none;
    background-color: $color-grey;
    border-radius: $border-radius-XL;
    overflow: hidden;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

    a {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $color-primary;
      font-weight: 500;
      transition: background 0.2s ease;

      @include hover-supported {
        background-color: $color-accent;
        color: $color-white;

        .board-title {
          color: $color-white;
        }
      }
    }

    .board-calendar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      font-size: $font-size-text;
      height: 2rem;
      fill: none;
    }

    .board-title {
      font-size: $font-size-S;
    }
  }

  .create-new {
    display: flex;
    align-items: center;

    .open-create {
      border: none;
      border-radius: $border-radius-XL;
      padding: 1rem;
      width: 100%;
      background-color: $color-primary;
      color: $color-white;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.2s ease;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);

      @include hover-supported {
        background-color: $color-accent;
      }
    }
  }
}

.is-shared-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-accent;
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius-S;

  app-icon-shared {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-accent;
    fill: none;
  }
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);

  .create-new-container {
    width: calc(100% - 2rem);
    height: 55vh;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: $border-radius-XL;
    overflow-y: auto;
    box-shadow:
      0 -10px 14px rgba(#000, $alpha: 0.15),
      0 10px 14px rgba(#000, $alpha: 0.15);

    .close {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: $border-radius-XL;
      font-size: $font-size-S;
      color: $color-text;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: $color-grey;
      cursor: pointer;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
      transition:
        background 0.2s ease-in-out,
        color 0.2s ease-in-out;

      @include hover-supported {
        background-color: $color-accent;
        color: $color-white;
      }
    }
  }
}

.slide-in-animation {
  @include slide-in-animation();
}

.slide-out-animation {
  @include slide-out-animation();
}

@media screen and (min-width: 1300px) {
  .boards-page {
    .boards-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      // align-items: stretch;
    }

    .board {
      flex-basis: calc(50% - 0.5rem);
    }

    .create-new {
      flex-basis: calc(50% - 0.5rem);

      .open-create {
        height: 100%;
        width: 100%;
      }
    }
  }

  .overlay {
    .create-new-container {
      width: 30%;
      max-width: 32rem;
    }
  }
}
