@use 'variables' as *;
@use 'mixins' as *;

:host {
  position: fixed;
  inset: 0;
  z-index: 5;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.edit-overlay {
  border: none;
  border-radius: $border-radius-XL;
  background-color: $color-white;
  padding: 1rem;
  margin: 1rem 0 7rem;
  width: calc(100% - 2rem);
  overflow-y: auto;
  position: relative;
  box-shadow: $overlay-shadow;

  .edit-event {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: $font-size-M;
    }
  }

  .delete-event-btn {
    @include base-button;
    color: $color-error;

    @include hover-supported {
      background-color: $color-error;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 1300px) {

  :host {
    justify-content: center;
  }

  .edit-overlay {
    width: 30%;
    max-width: 32rem;
    height: 70%;
    border-radius: $border-radius-XL;
  }
}
