@use 'variables' as *;
@use 'mixins' as *;

.day-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0;
  position: relative;

  .board-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: $border-radius-XL;
      background-color: transparent;
      color: $color-text;
      font-size: $font-size-text;
      font-weight: 500;
      padding: 0.5rem 0;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      app-icon-arrow-left {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include hover-supported {
        color: $color-accent;
      }
    }
  }
  .day {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    margin: 0;

    .day-date {
      font-size: $font-size-L;
      flex-basis: 100%;
    }

    .weekday {
      font-size: $font-size-S;
      font-weight: 500;
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;

    h2 {
      font-size: $font-size-S;
    }
  }

  .events-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .list-item {
    list-style: none;
  }

  .event {
    padding: 1rem;
    border-radius: $border-radius-L;
    background-color: $color-fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    row-gap: 0.25rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    @include hover-supported {
      background-color: $color-grey;
    }

    h3 {
      font-size: $font-size-text;
    }

    .is-shared-container {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: normal;
      gap: 0.5rem;
      font-size: $font-size-text;
      color: $color-primary;

      app-icon-shared {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $color-accent;
        fill: none;
      }
    }

    .scheduled-at,
    .description,
    .location {
      font-size: $font-size-text;
      font-weight: 500;
      color: $color-primary;
    }

    .description {
      flex-basis: 100%;
      color: $color-text;
    }

    .location {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $color-text;
    }
  }

  .no-events {
    list-style: none;

    h3 {
      font-weight: 500;
      font-size: $font-size-S;
    }
  }

  .create-new {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    h2 {
      font-size: $font-size-S;
    }

    .create-form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        color: $color-text;
        font-size: $font-size-text;
        font-weight: 500;
      }

      input {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: $border-radius-S;
        background-color: $color-grey;
      }
    }

    button {
      border: none;
      border-radius: $border-radius-XL;
      background-color: $color-success;
      color: $color-white;
      font-weight: 600;
      padding: 0.5rem;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

      @include hover-supported {
        background-color: $color-accent;
      }

      &:disabled {
        cursor: auto;
        background-color: $color-success;
        opacity: 0.7;
      }
    }
  }

  .enter-animation {
    @include slide-in-animation();
  }

  .leave-animation {
    @include slide-out-animation();
  }
}

@media screen and (min-width: 1300px) {
  .day-details {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .board-nav {
      flex-basis: 100%;
    }

    .day {
      flex-basis: 100%;
    }

    .events {
      flex-basis: calc(50% - 0.5rem);
    }

    .create-new {
      flex-basis: calc(50% - 0.5rem);
    }
  }
}
