@use 'variables' as *;
@use 'mixins' as *;

:host {
  width: calc(100% - 2rem);
  margin: 1rem 0 7rem;
  max-height: calc(100% - 7rem);
  display: flex;
}

.edit-calendars {
  position: relative;
  background-color: $color-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: $border-radius-XL;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: $overlay-shadow;


  h2 {
    font-size: $font-size-M;
  }

  .calendars-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }

  .calendar {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    min-height: 3.25rem;
    padding-bottom: 0.25rem;
    position: relative;
    flex-wrap: wrap;
    font-size: $font-size-text;
    border-bottom: 1px solid $color-primary;
  }

  .meta-data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .btns {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0;

    .leave-cal, .delete-cal {
      @include base-button;
      font-size: $font-size-text;

      color: $color-text;

      @include hover-supported {
        background-color: $color-error;
        color: $color-white;
      }
    }
  }

  .create-new {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .create-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    span {
      font-size: $font-size-S;
      font-weight: 500;
    }

    input {
      border: none;
      border-radius: $border-radius-S;
      padding: 0.5rem 0.75rem;
      background-color: $color-grey;
    }
  }

  .is-shared-input {
    display: flex;
    justify-content: space-around;
    border: transparent;
    padding: 0.5rem 0;
    margin: 0;

    legend {
      font-size: $font-size-S;
      font-weight: 500;
    }

    .radio {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      input {
        cursor: pointer;
        margin: 0;

        &:checked {
          accent-color: $color-accent;
        }
      }

      @include hover-supported {
        color: $color-accent;
      }
    }
  }

  .submit-btn {
    @include base-button;

    background-color: $color-success;
    color: $color-white;

    &:disabled {
      background-color: $color-grey;
      color: $color-text;
    }
  }
}

@media screen and (min-width: 1300px) {
  .edit-calendars {
    width: 30%;
    max-width: 32rem;
    max-height: 70%;
    margin: auto;
  }
}
