<article class="edit-calendars">
  <h2>Your calendars</h2>

  <nav class="board-nav">
    <button (click)="close()" class="back-btn" aria-label="Go back to previous page">
      <app-icon-arrow-left />
      Go back
    </button>
  </nav>

  <ul class="calendars-list">
    @for (cal of calendars(); track cal.id) {
      <li class="calendar">
        <h3>{{ cal.name }}</h3>
        @if (cal.is_shared) {
          <button class="leave-cal" aria-label="Leave this calendar" (click)="leaveCalendar(cal.id)">
            Leave
          </button>
        }
        @if (isOwner(cal)) {
          <button class="delete-cal" aria-label="Delete this calendar" (click)="deleteCalendar(cal.id)">
            Delete
          </button>
        }
      </li>
    }
  </ul>

  <section class="create-new">
    <h2>Create new calendar</h2>
    <form class="create-form" (submit)="createCalendar(); $event.preventDefault()">
      <label class="input" for="name">
        <span>Enter a name</span>
        <input
          type="text"
          id="name"
          name="name"
          [value]="newCalendarTitle()"
          (input)="newCalendarTitle.set($any($event.target).value)"
          (keyup.enter)="createCalendar()"
          placeholder="Name"
          required
          autocomplete="off"
        >
      </label>

      <fieldset>
        <legend>Is this calendar shared?</legend>

        <label class="radio" for="isShared-true">
          <span>Shared</span>
          <input type="radio" id="isShared-true" name="isShared" value="true" (change)="isNewCalShared.set(true)" [checked]="isNewCalShared()" />
        </label>

        <label class="radio" for="isShared-false">
          <span>Personal</span>
          <input type="radio" id="isShared-false" name="isShared" value="false" (change)="isNewCalShared.set(false)" [checked]="!isNewCalShared()" />
        </label>
      </fieldset>

      <button
        type="submit"
        [disabled]="newCalendarTitle().length === 0"
        [attr.aria-disabled]="newCalendarTitle().length === 0"
      >
        Create event
      </button>
    </form>
  </section>
</article>
