@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.home-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 95%;
  overflow: auto;
  padding-bottom: 3rem;

  .greeting {
    font-size: 3rem;
    margin: 0;
  }

  .today-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .weekday-label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    line-height: normal;

    .weekday {
      font-size: $font-size-L;
    }

    .date {
      font-size: $font-size-M;
      font-weight: 500;
    }
  }

  .week-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    .day {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      color: $color-primary;

      p {
        font-size: $font-size-text;
        font-weight: 500;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-S;
        font-weight: 500;
        background-color: $color-grey;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        width: 100%;
        max-height: 5rem;
        max-width: 5rem;
      }

      &.today {
        color: $color-accent;

        a {
          color: $color-white;
          background-color: $color-accent;
        }
      }
    }
  }

  .todays-tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: $font-size-M;
    }

    .tasks {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      gap: 0.75rem;
    }

    .no-tasks {
      list-style: none;

      h4 {
        font-weight: 500;
        font-size: $font-size-S;
      }
    }

    .task,
    .add-task-today {
      list-style: none;
      background-color: $color-grey;
      border-radius: $border-radius-S;
      padding: 0 1rem;
      height: 3rem;
      display: flex;
      gap: 1rem;
      position: relative;
      align-items: center;
      transition: background 0.2s ease, color 0.2s ease;

      &.completed {
        background-color: $color-success;

        h4,
        span {
          color: $color-white;
          text-decoration: line-through;
        }
      }

      h4 {
        font-size: $font-size-text;
      }

      .scheduled-at {
        font-size: $font-size-text;
        font-weight: 600;
        color: $color-text-secondary;
      }
    }

    .add-task-today {
      padding: 0;
      overflow: hidden;

      button {
        border: none;
        background-color: $color-primary;
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        color: $color-white;
        transition: background 0.2s ease;
        cursor: pointer;

        app-icon-add {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include hover-supported {
          background-color: $color-accent;
        }
      }

      .add-text {
        font-size: $font-size-text;
        font-weight: 600;
      }
    }

    .status-toggle {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .boards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: $font-size-M;
    }

    .boards-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0;
      margin: 0;
    }

    .board {
      list-style: none;
      background-color: $color-grey;
      border-radius: $border-radius-XL;
      overflow: hidden;

      a {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $color-primary;
        font-weight: 500;
        transition: background 0.2s ease;

        @include hover-supported {
          background-color: $color-accent;
          color: $color-white;

          .board-title {
            color: $color-white;
          }
        }
      }

      .board-calendar {
        display: flex;
        align-items: center;justify-content: space-between;
        gap: 0.5rem;
        font-size: $font-size-text;
        height: 2rem;
        fill: none;
      }

      .board-title {
        font-size: $font-size-S;
      }
    }
  }

  .is-shared-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-accent;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius-S;

    app-icon-shared {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $color-accent;
      fill: none;
    }
  }
}
/*
------------- Custom Checkbox ------------
*/

.checkbox.styled {
  display: inline-block;
  position: relative;
  padding-left: 2rem;
  height: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.styled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.styled input:checked ~ .checkbox__checkmark {
  background-color: $color-success;
}
.checkbox.styled input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.styled:hover input ~ .checkbox__checkmark {
  background-color: $color-success;
}
.checkbox.styled:hover input:checked ~ .checkbox__checkmark {
  background-color: $color-success;
}
.checkbox.styled:hover input ~ .checkbox__body {
  color: $color-success;
}
.checkbox.styled .checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: $color-fff;
  transition: background-color 0.25s ease;
  border-radius: 50%;
}
.checkbox.styled .checkbox__checkmark:after {
  content: '';
  position: absolute;
  left: 0.75rem;
  top: 0.55rem;
  width: 0.5rem;
  height: 0.75rem;
  border: solid $color-white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

@media screen and (min-width: 1300px) {
  .home-page {
    gap: 4rem;

    .greeting {
      font-size: $font-size-L;
    }

    .today-container {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;

      .weekday-label {
        flex-basis: 100%;

        .weekday {
          font-size: $font-size-XL;
        }
      }

      .week-row {
        flex-basis: calc(50% - 1rem);

        .day {
          p {
            font-size: $font-size-S;
          }
        }
      }

      .todays-tasks {
        position: absolute;
        top: 1rem;
        right: 0;
        width: calc(50% - 1rem);
      }
    }

    .boards {
      .boards-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        .board {
          flex-basis: calc(50% - 1rem);
        }
      }
    }
  }
}
