<section class="home-page">
  <h1>Hi, {{currentUser?.first_name}}</h1>
  <section class="today-container">
    <h2 class="weekday-label">{{ today()?.weekdayLabel }}</h2>
    <p class="date">{{ `${today()?.dayNumber} ${thisWeek().monthLabel}, ${thisWeek().year}` }}</p>

    <!-- <span class="date-container">
      <p>{{ today()?.dayNumber }}</p>
      <p>{{ thisWeek().monthLabel }}</p>
      <p>{{ thisWeek().year }}</p>
    </span> -->
  </section>
  <div class="week-row">
    @for (day of thisWeek().days; let i = $index; track day.dayNumber) {
      <span class="day" [class.today]="day.isToday">
        <p>{{ weekdays[i] }}</p>
        <!-- TODO: Add routerlink to that days' view -->
        <a>{{ day.dayNumber }}</a>
      </span>
    }
  </div>

  <a routerLink="/calendar">See your calendar <app-icon-calendar /></a>
</section>

<h1>Today's activites</h1>

<div>Your calendars:</div>
<ul>
  @for (calendar of calendars(); track calendar.id) {
    <li>{{ calendar.name }}</li>
  }
</ul>
Tasks:
<ul>
  @for (task of tasks(); track task.id) {
    <li>{{ task.title }}</li>
  }
</ul>
Boards:
<ul>
  @for (board of boards(); track board.id) {
    <li>{{ board.title }}</li>
  }
</ul>

<button (click)="signOut()">Logga ut</button>
