 <section class="home-page">
  <h1 class="greeting">Hi, {{currentUser?.first_name}}</h1>
  <section class="today-container">
    <h2 class="weekday-label" role="button" tabindex="0" (click)="goToDay(today()!.date)" (keyup.enter)="goToDay(today()!.date)">
      <span class="weekday">
        {{ today()?.weekdayLabel }}
      </span>
      <span class="date">{{ `${today()?.dayNumber} ${thisWeek().monthLabel}, ${thisWeek().year}` }}</span>
    </h2>
    <div class="week-row">
      @for (day of thisWeek().days; let i = $index; track day.dayNumber) {
        <span class="day" [class.today]="day.isToday">
          <p>{{ weekdays[i] }}</p>
          <a [routerLink]="['/day', formatDate(day.date)]">{{ day.dayNumber }}</a>
        </span>
      }
    </div>
    <article class="todays-events">
      <h3>Today's events</h3>
      <ul class="events">
        @if (events().length) {
          @for (event of events(); track event.id) {
            @let eventCalendar = getCalendar(event.calendar_id);
            <li class="event">
              <h4>
                {{ event.title }}
              </h4>
              @if (eventCalendar?.is_shared) {
                <span class="is-shared-container">
                  <app-icon-shared />
                </span>
              }
              @if (event.scheduled_at) {
                <span class="scheduled-at">{{ formatTime(event.scheduled_at) }}</span>
              }
            </li>
          }
        } @else {
          <li class="no-events">
            <h4>You have no events planned for today</h4>
          </li>
        }
        <li class="add-event-today">
          <button>
            <app-icon-add />
            <span class="add-text">Add new event for today</span>
          </button>
        </li>
      </ul>
    </article>
  </section>
  <section class="boards">
    <h2>Your boards</h2>
    <ul class="boards-list">
      @for (board of boards(); track board.id) {
      @let boardCalendar = getCalendar(board.calendar_id);
      <li class="board">
        <a [routerLink]="['/boards', board.id]">
          <span class="board-calendar">
            {{ boardCalendar?.name }}
            @if (boardCalendar?.is_shared) {
              <span class="is-shared-container">
                <app-icon-shared />
              </span>
            }
          </span>
          <h3 class="board-title">
            {{ board.title }}
          </h3>
        </a>
      </li>
      }
    </ul>
  </section>
  <button (click)="signOut()">Logga ut</button>
</section>

