@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-size: $font-size-S;
      font-weight: 600;
    }

    .log-in-input {
      border: none;
      border-radius: $border-radius-S;
      padding: 0.5rem 0.75rem;
      background-color: $color-grey;
      line-height: normal;
      transition: outline 0.2s ease-in-out;

      &:focus {
        outline: 2px solid $color-primary;
      }

      &.error {
        outline: 2px solid $color-error;
      }
    }

    .feedback-invalid {
      font-size: $font-size-S;
      font-weight: 600;
      color: $color-error;
    }
  }

  .submit-btn {
    border: none;
    border-radius: $border-radius-XL;
    color: $color-white;
    font-size: $font-size-S;
    font-weight: 600;
    background-color: $color-success;
    padding: 0.5rem;
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;

    @include hover-supported {
      background-color: $color-accent;
    }

    &:disabled {
      background-color: $color-success;
      opacity: 50%;
      cursor: auto;
    }

    &.success {
      background-color: $color-success;
    }
  }

  .error-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-error;
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
