@use 'variables' as *;
@use 'mixins' as *;

:host {
  height: 100%;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.time {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0 0.5rem;
    }

    label {
      font-size: $font-size-S;
      font-weight: 600;
    }

    .new-event-input {
      border: 2px solid transparent;
      border-radius: $border-radius-S;
      padding: 0.5rem 0.75rem;
      background-color: $color-grey;
      line-height: normal;
      transition: border 0.2s ease-in-out;

      @include hover-supported {
        border-color: $color-accent;
      }

      &:focus {
        outline: 2px solid $color-accent;
        outline-offset: 2px;
      }

      &.error {
        outline: 2px solid $color-error;
      }
    }

    .dropdown {
      appearance: none;
      cursor: pointer;
      color: $color-text;

      option {
        font-family: $font-primary;
        padding: 0.5rem;
      }
    }

    .feedback-invalid {
      font-size: $font-size-S;
      font-weight: 600;
      color: $color-error;
    }
  }

  .submit-btn {
    @include base-button;
    background-color: $color-success;
    color: $color-white;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: $card-shadow;

    @include hover-supported {
      background-color: $color-accent;
    }

    &:disabled {
      background-color: $color-grey;
      color: $color-text;
      opacity: 70%;
      cursor: auto;
    }
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}
