<form class="create-event-form" [formGroup]="newEventForm" (submit)="onCreate()">
  <span class="inputs">
    <div class="input-container">
      <label for="calendar_id">Calendar*</label>
      <select
        id="calendar_id"
        formControlName="calendar_id"
        required
        class="new-event-input dropdown"
        [class.error]="newEventForm.get('calendar_id')?.invalid && newEventForm.get('calendar_id')?.touched"
      >
      @for (cal of calendars(); track cal.id) {
        <option [value]="cal.id">{{ cal.name }}</option>
      }
      </select>
      @if (newEventForm.get('calendar_id')?.invalid && newEventForm.get('calendar_id')?.touched) {
        <span class="feedback-invalid">Calendar is required</span>
      }
    </div>

    <div class="input-container">
      <label for="title">Title*</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        required
        class="new-event-input"
        [class.error]="newEventForm.get('title')?.invalid && newEventForm.get('title')?.touched"
      />
      @if (newEventForm.get('title')?.invalid && newEventForm.get('title')?.touched) {
        <span class="feedback-invalid">Title is required</span>
      }
    </div>

    <div class="input-container">
      <label for="description">Description</label>
      <input
        id="description"
        type="text"
        formControlName="description"
        class="new-event-input"
      />
    </div>

    <div class="input-container">
      <label for="location">Location</label>
      <input
        id="location"
        type="text"
        formControlName="location"
        class="new-event-input"
      />
    </div>

    <div class="input-container time">
      <label for="scheduled_at">Begins at</label>
      <app-time-picker formControlName="scheduled_at" />
    </div>

    <div class="input-container">
      <label for="date">Date</label>
      <app-date-picker formControlName="date" />
    </div>
  </span>

  <button class="submit-btn" type="submit" [disabled]="newEventForm.invalid || loading()">
    Create event
  </button>

  @if (errorMessage()) {
    <span class="error-msg" animate.enter="enter-animation" animate.leave="leave-animation">
      <p>{{ errorMessage() }}</p>
    </span>
  }

  @if (successMessage()) {
    <span class="success-msg" animate.enter="enter-animation" animate.leave="leave-animation">
      <p>{{ successMessage() }}</p>
    </span>
  }
</form>
