
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'app/styles/variables.scss' as *;
@use 'app/styles/vendor/reset.scss' as *;


html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));
}

body {
  font-family: $font-primary;
  color-scheme: light;
  background-color: $color-white;
  color: $color-text;
  margin: 0;
  height: 100%;
}

app-root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

button,
input,
textarea,
select {
  font-family: $font-primary;
}
