@use 'variables' as *;
@use 'mixins' as *;
@use 'vendor/reset';

html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: $font-primary;
  color-scheme: light;
  background-color: $color-white;
  color: $color-text;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

app-root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  color: $color-primary;
}

h1 {
  font-size: $font-size-L;
  line-height: normal;
  margin-bottom: 0.5rem;
}

button,
input,
textarea,
select {
  font-family: $font-primary;
}

html, body, a, input, textarea, select, button, label {
  touch-action: manipulation;
}
