@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

:host {
  height: 100%;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.time {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0 0.5rem;
    }

    label {
      font-size: $font-size-S;
      font-weight: 600;
    }

    .new-event-input {
      border: 2px solid transparent;
      border-radius: $border-radius-S;
      padding: 0.5rem 0.75rem;
      background-color: $color-grey;
      line-height: normal;
      transition: border 0.2s ease-in-out;

      @include hover-supported {
        border-color: $color-accent;
      }

      &:focus {
        outline: 2px solid $color-accent;
        outline-offset: 2px;
      }

      &.error {
        outline: 2px solid $color-error;
      }
    }

    .dropdown {
      cursor: pointer;

      option {
        font-family: $font-primary;
      }
    }

    .feedback-invalid {
      font-size: $font-size-S;
      font-weight: 600;
      color: $color-error;
    }
  }

  .submit-btn {
    border: none;
    border-radius: $border-radius-XL;
    color: $color-white;
    font-size: $font-size-S;
    font-weight: 600;
    background-color: $color-success;
    padding: 0.5rem;
    margin-top: 1rem;
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;
    cursor: pointer;

    @include hover-supported {
      background-color: $color-accent;
    }

    &:disabled {
      background-color: $color-success;
      opacity: 50%;
      cursor: auto;
    }

    &.success {
      background-color: $color-success;
    }
  }

  .success-msg,
  .error-msg {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    p {
      background-color: $color-success;
      padding: 0.5rem 1rem;
      color: $color-white;
      font-size: $font-size-S;
      border-radius: $border-radius-XL;
    }
  }

  .error-msg {
    p {
      background-color: $color-error;
    }
  }
}

.enter-animation {
  @include slide-in-animation();
}

.leave-animation {
  @include slide-out-animation();
}
