@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.create-new-overlay {
  background-color: $color-grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
