<aside class="create-new-overlay">
  <h2>Create</h2>

  <button type="button" class="close" (click)="close()">
    <span>Close</span>
    <app-icon-add />
  </button>

  <div class="choices">
    @for (choice of choices; track $index) {
      <button (click)="setCurrentChoice(choice)" class="choice-btn" [class.active]="currentChoice() === choice">
        New {{ choice }}
      </button>
    }
  </div>

  @switch (currentChoice()) {
    @case ('task') {
      <app-new-task />
    }
    @case ('board') {
      <app-new-board />
    }
  }

</aside>
