<aside class="create-new-overlay">
  <h2>Create</h2>

  <app-close-btn (closeOverlay)="close()" />

  <div class="choices">
    @for (choice of choices; track $index) {
      <button (click)="setCurrentChoice(choice)" class="choice-btn" [class.active]="currentChoice() === choice">
        New {{ choice }}
      </button>
    }
  </div>

  @switch (currentChoice()) {
    @case ('event') {
      <app-event-form [mode]="'create'" />
    }
    @case ('board') {
      <app-new-board />
    }
  }

</aside>
