@use 'variables' as *;
@use 'mixins' as *;

.create-new-overlay {
  background-color: $color-white;
  padding: 1rem 1rem 2rem;
  margin-bottom: 6rem;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: $border-radius-XL $border-radius-XL 0 0;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 98%;
  max-height:  calc(100% - 7rem);
  z-index: 15;
  box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.22);

  .choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .choice-btn {
      @include base-button;
      font-size: $font-size-text;
      color: $color-text;
      border: 2px solid transparent;
      min-height: 2.75rem;

      @include hover-supported {
        cursor: pointer;
        background-color: $color-primary;
        color: $color-fff;
      }

      &.active {
        border-color: $color-primary;
        background-color: $color-fff;
        color: $color-primary;
        cursor: auto;
      }
    }
  }
}

.slide-in-animation {
  @include slide-in-animation();
}

.slide-out-animation {
  @include slide-out-animation();
}

@media screen and (min-width: 1300px) {
  .create-new-overlay {
    width: 30%;
    max-width: 32rem;
    height: 70%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: $border-radius-XL;
    box-shadow: $overlay-shadow;
  }
}
