@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

:host {
  width: calc(100% - 2rem);
}

.create-new-overlay {
  background-color: $color-white;
  padding: 1rem 1rem;
  margin-bottom: 6rem;
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: $border-radius-XL;
  position: absolute;
  width: calc(100%);
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(98% - 6rem);
  max-height:  calc(98% - 6rem);
  z-index: 15;
  box-shadow: 0 -10px 24px rgba($color-primary, $alpha: 0.12), 0 2px 6px rgba($color-primary, $alpha: 0.08);

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font: $font-size-S;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    app-icon-add {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(45deg);
    }

    @include hover-supported {
      color: $color-error;
    }
  }
}
